/* Colors */
.e-amber,.e-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.e-aqua,.e-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.e-blue,.e-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.e-light-blue,.e-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.e-brown,.e-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.e-cyan,.e-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.e-blue-grey,.e-hover-blue-grey:hover,.e-blue-gray,.e-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.e-green,.e-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.e-light-green,.e-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.e-indigo,.e-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.e-khaki,.e-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.e-lime,.e-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.e-orange,.e-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.e-deep-orange,.e-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.e-pink,.e-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.e-purple,.e-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.e-deep-purple,.e-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.e-red,.e-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.e-sand,.e-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.e-teal,.e-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.e-yellow,.e-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.e-white,.e-hover-white:hover{color:#000!important;background-color:#fff!important}
.e-black,.e-hover-black:hover{color:#fff!important;background-color:#000!important}
.e-grey,.e-hover-grey:hover,.e-gray,.e-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.e-light-grey,.e-hover-light-grey:hover,.e-light-gray,.e-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.e-dark-grey,.e-hover-dark-grey:hover,.e-dark-gray,.e-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.e-pale-red,.e-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.e-pale-green,.e-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.e-pale-yellow,.e-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.e-pale-blue,.e-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.e-text-amber,.e-hover-text-amber:hover{color:#ffc107!important}
.e-text-aqua,.e-hover-text-aqua:hover{color:#00ffff!important}
.e-text-blue,.e-hover-text-blue:hover{color:#2196F3!important}
.e-text-light-blue,.e-hover-text-light-blue:hover{color:#87CEEB!important}
.e-text-brown,.e-hover-text-brown:hover{color:#795548!important}
.e-text-cyan,.e-hover-text-cyan:hover{color:#00bcd4!important}
.e-text-blue-grey,.e-hover-text-blue-grey:hover,.e-text-blue-gray,.e-hover-text-blue-gray:hover{color:#607d8b!important}
.e-text-green,.e-hover-text-green:hover{color:#4CAF50!important}
.e-text-light-green,.e-hover-text-light-green:hover{color:#8bc34a!important}
.e-text-indigo,.e-hover-text-indigo:hover{color:#3f51b5!important}
.e-text-khaki,.e-hover-text-khaki:hover{color:#b4aa50!important}
.e-text-lime,.e-hover-text-lime:hover{color:#cddc39!important}
.e-text-orange,.e-hover-text-orange:hover{color:#ff9800!important}
.e-text-deep-orange,.e-hover-text-deep-orange:hover{color:#ff5722!important}
.e-text-pink,.e-hover-text-pink:hover{color:#e91e63!important}
.e-text-purple,.e-hover-text-purple:hover{color:#9c27b0!important}
.e-text-deep-purple,.e-hover-text-deep-purple:hover{color:#673ab7!important}
.e-text-red,.e-hover-text-red:hover{color:#f44336!important}
.e-text-sand,.e-hover-text-sand:hover{color:#fdf5e6!important}
.e-text-teal,.e-hover-text-teal:hover{color:#009688!important}
.e-text-yellow,.e-hover-text-yellow:hover{color:#d2be0e!important}
.e-text-white,.e-hover-text-white:hover{color:#fff!important}
.e-text-black,.e-hover-text-black:hover{color:#000!important}
.e-text-grey,.e-hover-text-grey:hover,.e-text-gray,.e-hover-text-gray:hover{color:#757575!important}
.e-text-light-grey,.e-hover-text-light-grey:hover,.e-text-light-gray,.e-hover-text-light-gray:hover{color:#f1f1f1!important}
.e-text-dark-grey,.e-hover-text-dark-grey:hover,.e-text-dark-gray,.e-hover-text-dark-gray:hover{color:#3a3a3a!important}
.e-border-amber,.e-hover-border-amber:hover{border-color:#ffc107!important}
.e-border-aqua,.e-hover-border-aqua:hover{border-color:#00ffff!important}
.e-border-blue,.e-hover-border-blue:hover{border-color:#2196F3!important}
.e-border-light-blue,.e-hover-border-light-blue:hover{border-color:#87CEEB!important}
.e-border-brown,.e-hover-border-brown:hover{border-color:#795548!important}
.e-border-cyan,.e-hover-border-cyan:hover{border-color:#00bcd4!important}
.e-border-blue-grey,.e-hover-border-blue-grey:hover,.e-border-blue-gray,.e-hover-border-blue-gray:hover{border-color:#607d8b!important}
.e-border-green,.e-hover-border-green:hover{border-color:#4CAF50!important}
.e-border-light-green,.e-hover-border-light-green:hover{border-color:#8bc34a!important}
.e-border-indigo,.e-hover-border-indigo:hover{border-color:#3f51b5!important}
.e-border-khaki,.e-hover-border-khaki:hover{border-color:#f0e68c!important}
.e-border-lime,.e-hover-border-lime:hover{border-color:#cddc39!important}
.e-border-orange,.e-hover-border-orange:hover{border-color:#ff9800!important}
.e-border-deep-orange,.e-hover-border-deep-orange:hover{border-color:#ff5722!important}
.e-border-pink,.e-hover-border-pink:hover{border-color:#e91e63!important}
.e-border-purple,.e-hover-border-purple:hover{border-color:#9c27b0!important}
.e-border-deep-purple,.e-hover-border-deep-purple:hover{border-color:#673ab7!important}
.e-border-red,.e-hover-border-red:hover{border-color:#f44336!important}
.e-border-sand,.e-hover-border-sand:hover{border-color:#fdf5e6!important}
.e-border-teal,.e-hover-border-teal:hover{border-color:#009688!important}
.e-border-yellow,.e-hover-border-yellow:hover{border-color:#ffeb3b!important}
.e-border-white,.e-hover-border-white:hover{border-color:#fff!important}
.e-border-black,.e-hover-border-black:hover{border-color:#000!important}
.e-border-grey,.e-hover-border-grey:hover,.e-border-gray,.e-hover-border-gray:hover{border-color:#9e9e9e!important}
.e-border-light-grey,.e-hover-border-light-grey:hover,.e-border-light-gray,.e-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.e-border-dark-grey,.e-hover-border-dark-grey:hover,.e-border-dark-gray,.e-hover-border-dark-gray:hover{border-color:#616161!important}
.e-border-pale-red,.e-hover-border-pale-red:hover{border-color:#ffe7e7!important}.e-border-pale-green,.e-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.e-border-pale-yellow,.e-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.e-border-pale-blue,.e-hover-border-pale-blue:hover{border-color:#e7ffff!important}